.selected-fruit-list-container {
  display: grid;
  background: var(--white);
  box-shadow: 0px 0px 24px -20px rgba(0, 0, 0, 0.35);
  border-radius: 18px;
  margin-top: 30px;
  /* opacity: 0.5; */
  padding: 10px;
  overflow-y: auto;
}

.fruit-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 10px;
}
.image-container-fruit {
  display: grid;
  border-radius: 18px;
  justify-self: center;
  align-items: center;
  padding: 30px;
}

.with-background-image-selected-fruit {
  background-position: center;
  background-size: cover;
  border-radius: 18px;
}

.fruit-name-selected-list {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  box-shadow: 0px 0px 24px -20px rgba(0, 0, 0, 0.35);
  border-radius: 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  color: var(--white);
  padding: 15px;
}
