.fruit {
  display: grid;
  padding: 20px;
  position: relative;
}
.fruit:hover .remove-icon {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.35);
  border-radius: 11px;
  width: 180px;
  height: 180px;
  place-content: center;
  padding: none;
}

.remove-icon {
  display: none;
  color: #f8485e;
  place-self: center;
  font-size: 80px;
}
.image-container {
  display: grid;
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.35);
  border-radius: 18px;
  width: 190px;
}

.with-background-image {
  background-position: center;
  background-size: cover;
  height: 190px;
}

.rectangle-fruit {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 5fr;
  background: var(--primary);
  opacity: 0.75;
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.35);
  border-radius: 18px;
  width: 155px;
  height: 40px;
  top: 80%;
  right: 16%;
  padding: 10px;
}
.fruit-name {
  display: grid;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: var(--white);
}
.color {
  display: grid;
  width: 17px;
  height: 17px;
  border: 1px solid var(--white);
  border-radius: 18px;
}
