.smoothie-cup-container {
  display: grid;
  position: absolute;
  top: 20%;
  right: 20%;
  padding: 20px;
}

.smoothie-cup-name {
  display: grid;
  font-style: normal;
  font-weight: normal;
  font-size: 36.12px;
  line-height: 41px;
  align-items: center;
  text-align: center;
  /* color: var(--primary); */
  background: var(--primary);
  opacity: 0.3;
  border-radius: 90px 90px 30px 30px;
  padding: 10px;
  width: 300px;
  height: 60px;
}
.smoothie-cup {
  display: grid;
  background: var(--primary);
  opacity: 0.3;
  height: 300px;
  width: 250px;
  place-content: center;
  border-radius: 18px;
  justify-self: center;
}

.smoothie-cup-images {
  display: grid;
  background: var(--background);
  width: 180px;
  height: 250px;
}

.image-container-smoothie-cup {
  display: grid;
  align-items: center;
  width: 170px;
  height: 50px;
}
.with-background-image-smoothie-cup {
  background-position: center;
  background-size: cover;
}
