@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500&display=swap");
:root {
  --primary: #512d6d;
  --accent: #00c1d4;
  --white: #ffffff;
  --background: #f7f7f7;
  --supporting: #f8485e;
}

.main-container {
  display: grid;
  background: var(--background);
  height: 100vh;
}

.background-main {
  background-image: url(../image/background-main.png);
  background-size: contain;
}
.app-container {
  display: grid;
  align-content: center;
}
.logo {
  background-image: url(../image/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 75px;
}
.text {
  display: grid;
  font-style: normal;
  font-weight: normal;
  font-size: 36.12px;
  line-height: 41px;
  justify-content: center;
  color: var(--primary);
}
