@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500&display=swap");
:root {
  --primary: #512d6d;
  --accent: #00c1d4;
  --white: #ffffff;
  --background: #f7f7f7;
  --supporting: #f8485e;
}

.main-container {
  display: grid;
  background: var(--background);
  height: 100vh;
}

.background-main {
  background-image: url(../images/background-main.png);
  background-size: contain;
}
